name: Deploy Precovery to Dev VM

on: workflow_dispatch

jobs:
  deploy-to-server:
    runs-on: ubuntu-latest
    steps:
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.DEV_SSH_KEY }} 
          known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.DEV_SSH_HOST }} >> ~/.ssh/known_hosts
      - name: Build Docker Image
        run: ssh ${{ secrets.DEV_SSH_USER }}@${{ secrets.DEV_SSH_HOST}} sudo docker build . -t dev-deploy --no-cache
      - name: Stop Running Container
        continue-on-error: true
        run: ssh ${{ secrets.DEV_SSH_USER }}@${{ secrets.DEV_SSH_HOST}} sh kill-running.sh
      - name: Remove prior dev deployments
        continue-on-error: true
        run: ssh ${{ secrets.DEV_SSH_USER }}@${{ secrets.DEV_SSH_HOST}} sudo docker rm dev-deploy-cont
      - name: Run Docker Container
        run: ssh ${{ secrets.DEV_SSH_USER }}@${{ secrets.DEV_SSH_HOST}} sudo docker run -v /mnt/disks/ssd-500/nsc/nsc_precovery_defrag/:/data/db -d --name dev-deploy-cont -p 443:443 dev-deploy
